<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Edit a Task
        </h1>

        <div class="field is-grouped">
            <p class="control is-expanded">
                <input #taskInput class="input" type="text" placeholder="Enter task name">
            </p>
        </div>
        <div class="field is-grouped is-right">
            <p class="control">
                <a class="button is-primary" (click)="updateTask(taskInput.value)">
                Edit
              </a>
            </p>
            <p class="control">
                <a class="button is-light" routerLink="/">
                Cancel
              </a>
            </p>
        </div>
    </div>
</div>